{% extends 'base.html' %}

{% load static %}

{% block title_content %}Patient Visits{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/delete.css' %}">
{% endblock %}

{% block body_content %}

    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <h4>Archive patient visit?</h4>
            <div id="actionsDiv">
                <button id="actionsDelete" type="submit">Archive Visit</button>
                <a id="actionsList" href="{% url 'patients:listallpatientvisits' %}">Cancel</a>
            </div>
        </form>
    </div>

{% endblock %}
