{% extends 'base.html' %}

{% load static %}

{% block title_content %}Visit Task{% endblock %}

{% block css_content %}
	<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block body_content %}

    <div class="container">
        <form method="POST" action="{{ request.path }}?next={{ request.META.HTTP_REFERER|urlencode }}">
            {% csrf_token %}
            <h4 class="formTitle">
                {% if h_exists_task %}
                    View Task {{ h_exists_task.task_title }}
                {% else %}
                    Create Visit Task
                {% endif %}
            </h4>
            {{ h_form.as_p }}
            <div class="buttomsDiv">
                {% if h_exists_task %}
                    <a href="{% url 'patients:listvisittasks' %}" class="backToListLink">Back To Tasks</a>
                {% else %}
                    <button class="formSubmitButton" type="submit">Submit Tasks</button>
                {% endif %}
            </div>
        </form>
    </div>

{% endblock %}
