{% extends 'base.html' %}

{% load static %}

{% block title_content %}Scheduled Visits for {{ h_patient }}{% endblock %}

{% block css_content %}
	<link rel="stylesheet" href="{% static 'css/patientsdash.css' %}">
{% endblock %}

{% block body_content %}

    <div class="container mt-4">
        <h2 class="viewTitle">Scheduled Visits for {{ h_patient }}</h2>
        <p class="dentistName">Primary Dentist: {{ h_patient.primary_dentist }}</p>

        {% for visit in h_scheduledvisits %}
        	{% if forloop.counter0|divisibleby:3 %}
                <div class="row mb-3">
        	{% endif %}

            <div class="col-md-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ visit.visit_date|date:"D, M d, Y" }}</h5>
                        <p class="card-text mt-0 mb-0">Time: {{ visit.visit_time }}</p>
                        <p class="card-text mt-0 mb-0">Title: {{ visit.visit_title }}</p>
                        <p class="card-text mt-0 mb-0">Dentist: {{ visit.dentist }}</p>
                        <p class="card-text mt-0 mb-0">Branch: {{ visit.branch }}</p>
                        <div class="patientActionDiv">
                            <a id="patientActionLink" href="{% url 'patients:viewpatientvisit' visit.pk %}" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
            </div>

            {% if forloop.counter|divisibleby:3 or forloop.last %}
                </div>
            {% endif %}
        {% empty %}
            <p>No Scheduled Visits</p>
        {% endfor %}
    </div>

{% endblock %}
