{% extends 'base.html' %}

{% load static %}

{% block title_content %}View Archived Visit for {{ h_archivedvisit.patient.full_name }}{% endblock %}

{% block css_content %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block body_content %}

    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <h5 class="formTitle">Archived visit for {{ h_archivedvisit.patient.full_name }}</h5>
            {{ h_form.as_p }}
        </form>

        <div class="buttomsDiv">
            {% if user.user_type == 'Employees' or user.user_type == 'Administrators' or user.user_type == 'Dentists' %}
                <a class="backToListLink" href="">Back to List</a>
                <a class="backToListLink" href="{% url 'patients:patientscenter' %}">Patients Center</a>
            {% else %}
                <a class="backToListLink" href="{% url 'patients:patientdashbaord' %}">Patient Dashboard</a>
            {% endif %}
        </div>
    </div>

<br><br><br><br>
{% endblock %}
