{% extends 'base.html' %}

{% load static %}

{% block title_content %}Create Company Position{% endblock %}

{% block css_content %}
	<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block body_content %}

    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <h4 class="formTitle">
                {% if h_exists_position %}View Position{% else %}Create Position{% endif %}
            </h4>

            {{ h_form.as_p }}

            <div class="buttomsDiv">
                {% if h_exists_position %}
                    <a href="{% url 'mimascompany:listpositions' %}" class="backToListLink">Back To Positions</a>
                {% else %}
                    <button class="formSubmitButton" type="submit">Submit Position</button>
                {% endif %}
            </div>
        </form>
    </div>

{% endblock %}
