{% extends 'base.html' %}

{% load static %}

{% block title_content %}Customer Booking{% endblock %}

{% block css_content %}
	<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block body_content %}

    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <h4 class="formTitle">
                {% if h_existing_booking %}
                    View Booking for {{ h_existing_booking.first_name }} {{ h_existing_booking.last_name }}
                {% else %}
                    Create Booking
                {% endif %}
            </h4>
            {{ h_form.as_p }}
            <div class="buttomsDiv">
                {% if h_existing_booking %}
                    <a href="{% url 'mimascompany:listcustomersbookookings' %}" class="backToListLink">Back To Booking</a>
                {% else %}
                    <button class="formSubmitButton" type="submit">Submit Booking</button>
                {% endif %}
            </div>
        </form>
    </div>

{% endblock %}
