{% extends 'base.html' %}

{% load static %}

{% block title_content %}Dentist{% endblock %}

{% block css_content %}
	<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block body_content %}

    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <h4 class="formTitle">
                {% if h_exists_dentists %}
                    View Dentist {{ h_exists_dentists.dentist_name }}
                {% else %}
                    Create Dentist
                {% endif %}
            </h4>
            {{ h_form.as_p }}
            <div class="buttomsDiv">
                {% if h_exists_dentists %}
                    <a href="{% url 'mimascompany:listdentists' %}" class="backToListLink">Back To Dentists</a>
                {% else %}
                    <button class="formSubmitButton" type="submit">Submit Dentist</button>
                {% endif %}
            </div>
        </form>
    </div>

{% endblock %}
