{% extends 'base.html' %}

{% load static %}

{% block title_content %}Create Department{% endblock %}

{% block css_content %}
	<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block body_content %}

    <div class="container">
        <form method="POST">
            {% csrf_token %}

            <h4 class="formTitle">
                {% if h_exists_department %}View Department{% else %}Create Department{% endif %}
            </h4>

            {{ h_form.as_p }}

            <div class="buttomsDiv">
                {% if h_exists_department %}
                    <a href="{% url 'mimascompany:listdepartments' %}" class="backToListLink">Back To Departments</a>
                {% else %}
                    <button type="submit" class="formSubmitButton">Submit Department</button>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}
