{% extends 'base.html' %}

{% load static %}

{% block title_content %}List Leave Requests{% endblock %}

{% block css_content %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock %}

{% block body_content %}

    <div class="container-fluid mt-4">
        <div class="card shadow">
            <div class="tableTopDiv">
                <h5>All Leave Requests</h5>
                <div>
                    <span class="countStat">Requests Total {{ h_alltasks.count }}</span>
                    <a href="{% url 'mimascompany:createleaverequest' %}" id="tableTopRightDiv"
                       class="btn btn-sm btn-outline-primary" title="Add Leave Request">
                        <i class="fas fa-suitcase-rolling fa-fw"></i>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-striped align-middle">
                        <thead class="table-secondary">
                            <tr>
                                <th scope="col">EMPLOYEE</th>
                                <th scope="col">LEAVE TYPE</th>
                                <th scope="col">STATUS</th>
                                <th scope="col">START DATE</th>
                                <th scope="col">END DATE</th>
                                <th scope="col">REQUESTED DATE</th>
                                <th scope="col">UPDATED BY</th>
                                <th class="text-center">ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for leave in h_allrequests %}
                                <tr>
                                    <td>{{ leave.employee }}</td>
                                    <td>{{ leave.leave_type }}</td>
                                    <td>{{ leave.status }}</td>
                                    <td>{{ leave.start_date }}</td>
                                    <td>{{ leave.end_date }}</td>
                                    <td>{{ leave.requested_date }}</td>
                                    <td>{{ leave.updated_by }}</td>
                                    <td class="text-center">
                                        <!-- View Icon -->
                                        <a href="" class="btn btn-sm btn-outline-info">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                        <!-- Edit Icon -->
                                        <a href=""
                                           class="btn btn-sm btn-outline-primary" title="Edit Leave Request for {{ leave.employee }}">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <!-- Delete Icon -->
                                        <a href=""
                                           class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ task.pk }}">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
