{% extends 'base.html' %}

{% load static %}

{% block title_content %}Archived Dentist Report for {{ h_archivedreport.patient }}{% endblock %}

{% block css_content %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block body_content %}

    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <h5 class="formTitle">Archived Dentist Report For {{ h_archivedreport.patient }}</h5>
            {{ h_form.as_p }}

            <div class="buttomsDiv">
                {% if user.user_type == 'Employees' or user.user_type == 'Administrators' or user.user_type == 'Dentists' %}
                    <a class="backToListLink" href="{% url 'dentists:listallarchivedreports' %}">Back to List</a>
                    <a class="backToListLink" href="{% url 'patients:patientscenter' %}">Patients Center</a>
                {% else %}
                    <a class="backToListLink" href="{% url 'patients:patientdashbaord' %}">Patient Dashboard</a>
                {% endif %}
            </div>
        </form>
    </div>

<br><br><br><br>
{% endblock %}
