{% extends 'base.html' %}

{% block title_content %}Index{% endblock %}

{% block body_content %}

    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container py-5">
            <h1 class="display-5 fw-bold">Mimas Company</h1>
            <p class="col-md-8 fs-4">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa, laborum iste? Sequi nulla harum voluptatum
                cupiditate doloremque, mollitia a, veritatis aliquam quaerat tempore dolorem culpa, laboriosam amet debitis expedita accusamus.
            </p>
            <a class="btn btn-primary btn-lg" href="">Book Appointment</a>
        </div>
    </div>

{% endblock %}
