.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    gap: 1rem;
    margin-top: 0;
    background-color: #01353d;
    color: white;
}


div ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 20px;
    text-decoration: none;
}

.linkItem {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.linkItem:hover {
    color: #fac800;
}

#appNameLink {
    color: white;
    text-decoration: none;
    font-size: x-large;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 10px;
    margin-bottom: 10px;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin-bottom: 10px;
}

.alert-info {
    background-color: #fce3b6;
    color: #b88100;
    border: 1px solid #fce3b6;
    padding: 10px;
    margin-bottom: 10px;
}

.alert-warning {
    background-color: #fcfcb6;
    color: #b8b500;
    border: 1px solid #fcfcb6;
    padding: 10px;
    margin-bottom: 10px;
}

#messageDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 1rem auto;
    padding: 0 2rem;
}

.content-container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 2rem;
}