.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.formTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttomsDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.formSubmitButton {
    display: block;
    align-items: center;
    width: 170px;
    padding: 8px;
    border-radius: 6px;
    background-color: #3b575c;
    color: white;
    border: none;
}

.formSubmitButton:hover {
    background-color: #909c9e;
    color: black;
}

